:root {
    --iris: #4d5ae5;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --white: #ffffff;
    --cloud: #f4f4fd;
    --ocean: #404bbf;
    --green: #31d0aa;
    --cornflower: #e7e9fc;
    --light-slate: #8e8f99;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
    --navy-blue-modal: #2e2f42;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: var(--slate);
    background-color: var(--white);
}
p,
h1,
h2,
h3,
h4,
h5,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    display: inline-block;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background: var(--ocean);
}
/*-----------HEADER-----------*/
.logo {
    color: var(--iris);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo .header-logo {
    color: var(--navy-blue);
}
.navigation-list .current {
    color: var(--ocean);
}
.navigation-list-link {
    color: var(--navyblue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list {
    display: flex;
    gap: 40px;
}
.navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.header-container {
    display: flex;
}
.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.address-list {
    display: flex;
    gap: 40px;
}
.address {
    font-style: normal;
}
.address-list-link {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list-link:hover,
.navigation-list-link:hover,
.address-list-link:focus,
.navigation-list-link:focus {
    color: var(--ocean);
}
/*-----------SECTION-1-----------*/
.solutions {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--navyblue);
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}
.solutions-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}
.solutions-btn {
    color: var(--white);
    background: var(--iris);
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-btn:is(:hover, :focus) {
    background-color: var(--ocean);
}
/*-----------SECTION-2-----------*/
.advantages {
    padding: 120px 0;
}
.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-item {
    width: calc((100% - 3 * 24px) / 4);
}
.advantages-item-title {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.advantages-item-text {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantages-icon {
    display: flex;
    width: 100%;
    height: 112px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud);
    margin-bottom: 8px;
}
/*-----------SECTION-3-----------*/
.work-title {
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.work {
    padding-bottom: 120px;
}
.work-list {
    display: flex;
    gap: 24px;
}
.work-list-item {
    width: calc((100% - 48px) / 3);
}
/*-----------SECTION-4-----------*/
.team {
    background-color: var(--cloud);
    padding: 120px 0;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-member {
    padding: 32px 0;
}
.team-member-name {
    color: var(--navy-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-member-profession {
    color: var(--slate);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.social-nerworks-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-nerworks-items {
    width: 40px;
    height: 40px;
}
.social-nerworks-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nerworks-icon {
    fill: var(--cloud);
}
.social-nerworks-link:is(:hover, :focus) {
    background-color: var(--ocean);
}
/*-----------SECTION-5-----------*/
.customers {
    padding: 120px 0;
}
.customers-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-icon-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon-link:is(:hover, :focus) {
    border-color: var(--ocean);
    color: var(--ocean);
}
.customers-icon {
    fill: currentColor;
}
/*-----------FOOTER-----------*/
.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo-container {
    margin-right: 120px;
}
.logo .footer-logo {
    color: var(--cloud);
}
.f-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-social-networks {
    flex-grow: 1;
}
.footer-networks-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}
.footer-nerworks-list {
    display: flex;
    gap: 16px;
}

.footer-nerworks-items {
    width: 40px;
    height: 40px;
}
.footer-nerworks-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nerworks-link:is(:hover, :focus) {
    background-color: var(--green);
}

.footer-nerworks-icon {
    fill: var(--cloud);
}
.footer-form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
}
.footer-email-form {
    display: flex;
    gap: 24px;
}
.footer-email-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white);
}
.footer-email-input::placeholder {
    color: var(--white);
}
.footer-email-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email-btn:is(:hover, :focus) {
    background-color: var(--ocean);
}
.send-btn-icon {
    margin-left: 16px;
    fill: var(--white);
}
/*-----------PORTFOLIO-----------*/
.main-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-nav-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-nav-btn {
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-btn:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.projects-list-item {
    width: calc((100% - 48px) / 3);
}
.projects-list-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-list-link:is(:hover, :focus) .overflow-text {
    transform: translateY(0%);
}
.project-img-box {
    position: relative;
    overflow: hidden;
}
.overflow-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-info {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
/*-----------PROJECTS-----------*/
.project-name {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.project-description {
    color: var(--slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*-----------MODAL_WINDOW-----------*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
    width: 408px;
    min-height: 584px;
    background: var(--dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(3.5, 0);
}
.close-modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:is(:hover, :focus) {
    background-color: var(--ocean);
    border: none;
}
.close-modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:is(:hover, :focus) .close-modal-icon {
    fill: var(--white);
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-modal);
    margin-bottom: 16px;
}
.modal-form-field {
    margin-bottom: 8px;
}
.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;
}
.input-container {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: var(--iris);
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .input-icon {
    fill: var(--iris);
}
.modal-textarea-container {
    margin-bottom: 16px;
}
.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: var(--iris);
}
.modal-check-container {
    margin-bottom: 24px;
}
.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}
.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.modal-check:checked + .checkbox-label span {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}
.check-link {
    color: var(--iris);
    text-decoration: underline;
}
.send-modal-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-modal-btn:is(:hover, :focus) {
    background-color: var(--ocean);
}
